.collapsible {
  background-color: #39a0d2;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 75%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ff7e27;
}

.jobheading {
  padding-top: 20px;
}

.hobbies li {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

#pageheading {
  margin-left: 30px;
}

#hobbytext {
  width: 85%
}

#hobbyname {
  width: 15%
}

#personallist {
  margin-top: 80px;
}
.content {
  background-color: rgba(57,160,210,0.3);
  width: 75%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 10px;
}

.content p, h3 {
  padding-left: 10px;
  padding-right: 10px;
}

#xml1 {
  display: inline-block;
  padding-left: 20px
}

#xml2 {
  display: inline-block;
  padding-left: 20px;
}

.header ul li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  padding-right: 15px;
  padding-left: 15px;
}

.footer ul li{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  font-size: 20px;
  font-family: Arial;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
}

 a:link, a:visited {
  color: #39a0d2;
  text-decoration: none;
}

 a:active, a:hover {
  color: #ff7e27;
}

h1, h2, h3, h4, p{
  font-family: Arial;
}

.myers-briggs-content {
  display: flex;
  justify-content: space-between;
}

.leanring-styles-content {
  display: flex;
  justify-content: space-between;
}

.big-5-content-1 {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.big-5-content-2 {
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.big-5-team {
  width: 75%;
}

.team p {
  padding-left: 50px;
  padding-right: 50px;
}

.critique p {
  padding-left: 50px;
  padding-right: 50px;
}

.dualcontent ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.personaldetails {
  list-style-type: none;
  display: flex;
  width: 80%;
  justify-content: space-between;
}

#portrait {
  margin-left: 30px;
}

#highlevel {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#highlevel p {
  margin: 5px;
  padding: 0px;
}

#text1 {
  width: 50%;
  padding-right: 20px;
  padding-left: 20px;
}

#text2 {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

#heading1 {
  padding-left: 20px;
}

#heading2 {
  padding-right: 20px;
}

li {
  font-family: Arial;
}

#myers_briggs_traits {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

#myers_briggs_text {
  margin-left: 50px;
  margin-right: 150px;
  margin-top: 75px;
}

#learning_styles_image {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

#learning_styles_text {
  margin-left: 50px;
  margin-right: 150px;
  margin-top: 150px;
}

#big-five-image-1 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

#big-five-text-1 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

#big-five-text-2 {
  margin-left: 50px;
  margin-right: 150px;
  margin-top: 75px;
}

#big-five-image-2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

body {
  padding-right: 50px;
  padding-left: 50px;
}

hr {
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
}
